@mixin button-container {
  align-content: center;
  align-items: center;
  flex: 0 1 0;
  justify-content: flex-start;
  gap: 2rem;

  &.no-gap {
    gap: 0;
  }
}

@mixin button {
  &:link,
  &:visited,
  &:focus,
  &:hover,
  &:active {
  }

  cursor: pointer;
  transition: all 0.25s ease-out;
}

@mixin button-pill-lrg {
  min-height: 5.1rem;
}

@mixin button-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;

  background-color: $--color-button-background-primary;
  border-radius: 3rem;
  border-width: 0;
  color: $white;
  font: $--font-primary-600;
  font-size: 1.6rem;
  min-height: 4.4rem;
  min-width: 16.8rem;
  padding: 1rem 2rem;
  white-space: nowrap;

  &:link,
  &:visited,
  &:focus,
  &:hover,
  &:active {
    color: $white;
  }

  &:hover {
    background-color: $--color-button-background-primary-hover;
  }

  &.lrg {
    @include button-pill-lrg;
  }

  // ==========================================================================================================
  // Colors
  // ==========================================================================================================
  &.transparent {
    background-color: transparent;
  }

  &.white {
    background-color: $--color-theme-white;
  }

  // Eggplant
  &.eggplant-110 {
    background-color: $--color-theme-eggplant-110;
  }

  &.eggplant-100 {
    background-color: $--color-theme-eggplant-100;

    &:hover {
      background-color: $--color-theme-eggplant-110;
    }
  }

  &.eggplant-80 {
    background-color: $--color-theme-eggplant-80;
  }

  &.eggplant-60 {
    background-color: $--color-theme-eggplant-60;
  }

  // Sky Blue
  &.sky-blue-110 {
    background-color: $--color-theme-sky-blue-110;
  }

  &.sky-blue-100 {
    background-color: $--color-theme-sky-blue-100;

    &:hover {
      background-color: $--color-theme-sky-blue-110;
    }
  }

  &.sky-blue-80 {
    background-color: $--color-theme-sky-blue-80;
  }

  &.sky-blue-60 {
    background-color: $--color-theme-sky-blue-60;
  }

  // Magenta
  &.magenta-110 {
    background-color: $--color-theme-magenta-110;
  }

  &.magenta-100 {
    background-color: $--color-theme-magenta-100;

    &:hover {
      background-color: $--color-theme-magenta-110;
    }
  }

  &.magenta-80 {
    background-color: $--color-theme-magenta-80;
  }

  &.magenta-60 {
    background-color: $--color-theme-magenta-60;
  }

  // Magenta
  &.navy-100 {
    background-color: $--color-theme-navy-100;
  }

  &.navy-90 {
    background-color: $--color-theme-navy-90;
  }

  &.navy-80 {
    background-color: $--color-theme-navy-80;
  }

  &.navy-60 {
    background-color: $--color-theme-navy-60;
  }
}

.button-container,
.buttons-container {
  @include button-container;
}

.button {
  @include button;
}

.button-pill,
.pill-button {
  @include button-pill;
}
