@import 'breakpoints';
@import 'buttons';

@mixin placeholder_styles {
  // color: $--color-theme-navy-60 !important;
  color: $--color-theme-sky-blue-100 !important;
  font: $--font-primary-300 !important;
  // font-size: 1.6rem !important;
  font-size: 1.8rem !important;
  -webkit-font-smoothing: antialiased;
  transition: all 0.25s ease-out;
  opacity: 1;
}

.site-content-wrapper {
  .form-container {
    flex: 1 1 auto;
    flex-wrap: wrap;
    row-gap: 5rem;
    width: 100%;
  }

  form,
  .form,
  fieldset,
  .fieldset {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    flex-wrap: wrap;
    // max-width: 84rem;
    width: 100%;
    gap: 3rem;
  }

  legend {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 9.5rem;
    text-align: center;
  }

  [placeholder]:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  // For whatever reason, combining
  // and comma separating the below
  // doesn't work ¯\_(ツ)_/¯

  // Chrome/Opera/Safari
  ::-webkit-input-placeholder {
    @include placeholder_styles;
  }

  // Firefox 19+
  ::-moz-placeholder {
    @include placeholder_styles;
  }

  // IE 10+
  :-ms-input-placeholder {
    @include placeholder_styles;
  }

  // Firefox 18-
  :-moz-placeholder {
    @include placeholder_styles;
  }

  ::placeholder {
    @include placeholder_styles;
  }

  label {
    color: $--color-theme-sky-blue-100;
    font: $--font-primary-300;
    font-size: 1.8rem;
    text-transform: capitalize;

    position: absolute;
    top: 2.3rem;
    left: 2.6rem;
  }

  input[type='submit'] {
    @include button;
    @include button-pill;
    @include button-pill-lrg;
  }

  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='url'],
  input[type='date'],
  input[type='time'],
  select,
  textarea {
    flex: 1 1 auto;
    background-color: $--color-theme-white;
    border-color: $--color-theme-sky-blue-40;
    border-radius: 0.9rem;
    border-style: solid;
    border-width: 0.2rem;

    color: $--color-theme-sky-blue-100;
    font: $--font-primary-300;
    font-size: 1.8rem;

    height: 6.9rem;
    min-height: 6.9rem;
    padding: 2.1rem 2.6rem;

    outline: none;
  }

  select {
    option {
      font: $--font-primary-300;
      font-size: 1.8rem;
    }
  }

  textarea {
    height: inherit;
    min-height: 25rem;
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
  }

  .field-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .field {
      display: flex;
      flex: 1 1 100%;

      // @include for-tablet-portrait-up {
      //   flex: 0 1 48%;
      // }
    }

    .field:only-of-type {
      flex: 1 1 auto;
    }
  }

  .field {
    flex-direction: column;
    // margin-bottom: 1.2rem;
    position: relative;

    // @include for-tablet-portrait-up {
    //   flex: 0 1 48%;
    // }

    .message {
      align-content: flex-start;
      align-items: flex-start;
      display: none;
      flex-direction: column;
      font-size: 2rem;
      font-weight: 500;
      justify-content: flex-start;
      margin: 0.9rem 0 0 0rem;
    }

    &.checkbox {
      flex-direction: row;

      label {
        position: static;
      }
    }

    &.error {
      .message {
        color: $error;
        display: flex;
        flex: 1 1 100%;

        .error-description {
          &:first-letter {
            text-transform: capitalize;
          }
        }
      }

      input[type='email'],
      input[type='number'],
      input[type='password'],
      input[type='search'],
      input[type='tel'],
      input[type='text'],
      input[type='url'],
      input[type='date'],
      input[type='time'],
      select,
      textarea {
        border-color: $error;
      }
    }
  }

  #form-response-message {
    h5 {
      font: $--font-primary-500;
      font-size: 2.4rem;
      line-height: 3.8rem;
      text-align: center;
    }
  }
}
